<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>

<div class="change-password-container">
    <center>
        <h2>Change Password :</h2>
        <form method="POST">
            <table border="0" cellpadding="6">
                <tr>
                    <th>Current Password :</th>
                    <td><input type="password" name="current_password" placeholder="Current Password" required></td>
                </tr>
                <tr>
                    <th>New Password :</th>
                    <td><input type="password" name="new_password" placeholder="New Password" required></td>
                </tr>
                <tr>
                    <th>Confirm Password :</th>
                    <td><input type="password" name="confirm_password" placeholder="Confirm Password" required></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" name="submit" value="Change Password"></td>
                </tr>
            </table>
        </form>
    </center>
</div>

</body>
</html>