<!DOCTYPE html>
<html>
<head>
    <title>Review & Ratings</title>
</head>
<body>
    <center>
        <h2>Review & Ratings</h2>
        <form method="POST">
            <table border="1" cellpadding="10">
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Review</th>
                    <th>Rating</th>
                </tr>
                
            </table>
            <br>
            <input type="submit" value="Submit">
        </form>
    </center>
</body>
</html>