<!DOCTYPE html>
<html>
<head>
    <title>Admin - View Users</title>
</head>
<body>
    <center>
        <h2>User List</h2>
        <table border="1" cellpadding="10">
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Address</th>
                <th>city</th>
                <th>Pincode</th>
                <th>Email</th>
                <th>Photo</th>
                <th>Phone No</th>
            </tr>
          
        </table>
    </center>
</body>
</html>